{% set pageName = "contact" %}
{% set pathocontacty = "" %}
{% set title = 'Обратная связь - Diet In' %}
{% set description = 'Описание страницы' %}
{% extends 'base.njk' %}

{% block content -%}


  <div class="width-container hor-padding-container ver-padding-xx-container">

<div class="form-container">

    <form class="form" action="get" autocomplete="on">
      <h1 class="section-heading">Напишите нам</h1>

      <label class="form-label" for="contact-name">Ваше имя</label>
      <input class="form-input" id="contact-name" name="contact-name" required="required"/>

      <label class="form-label" for="contact-email">Ваш email</label>
      <input class="form-input" id="contact-email" name="contact-email" required="required" type="email" placeholder="pochta@email.ru"/>

      <label class="form-label" for="contact-message">Ваше сообщение</label>
      <textarea class="form-input" id="contact-message" name="contact-message" required="required"></textarea>

      <input class="form-submit" type="submit" value="Отправить"/>

    </form>

  </div>


  </div>

{%- endblock %}