{% set pageName = "home" %}
{% set pathology = "" %}
{% set title = 'Главная - Diet In' %}
{% set description = 'Описание страницы' %}
{% extends 'base.njk' %}

{% block content -%}

{# hero #}
<div class="hero">
  <div class="width-container hor-padding-container">
    <div class="hero__text">
      <h1 class="hero__title">С заботой <em class="hero__subtitle">о питании</em></h1>
      <p class="hero__slogan">Рекомендации по питанию и подборки рецептов для тех, чей рацион требует особого внимания</p>
    </div>
  </div>
</div>
{# / hero #}


{# main container #}
<div class="width-container hor-padding-container ver-padding-xxx-container flex-container">


      {# pathologies #}
      <div class="home-pathologies">

        <div class="home-pathology-image__wrapper">
          <img class="home-pathology__img" src="img/girlngrandpa.jpg" alt="Девочка кормит деда">
          <span class="home_pathology__voice">В моей жизни есть...</span>
        </div>

        <ul class="home-pathology__list">

          {% for pathology in pathologies %}
          <li class="home-pathology__item">
            <a class="home-pathology__link link link--full" href="#">{{ pathology }}</a>
          </li>
          {% endfor %}
        </ul>

      </div>
      {# / pathologies #}


      {# Long center content wrapper #}
      <div class="home-content__wrapper">


        {# intro wrapper #}
        <div class="home-intro">

          <p class="meaningful">Полноценное здоровое питание является важной составной частью нашей повседневной жизни.</p>

          <p class="homebody">Хорошо сбалансированная диета помогает поддерживать вес в пределах возрастной нормы, сохранять иммунную систему на должном уровне, чтобы предупреждать возникновение инфекций. Питание напрямую влияет на физическую активность, мышечную силу и выносливость, позволяет легче переносить лекарственную терапию при возникновении различных заболеваний.</p>

          <p class="homebody">Необходимо помнить, чем раньше будет сформирована правильная диета (независимо от стадии заболевания), тем лучше будет конечный результат.</p>

          <p class="homebody">Diet In поможет Вам с выбором пищевых продуктов, объяснит, как диета и соответствующий образ жизни помогают преодолевать трудности, которые приносят в жизнь заболевания.</p>

        </div>
        {# / intro wrapper #}


        {# calc block #}
        <div class="imt-calc">

          {# calc  #}
          <form class="form imt-form">
            <h2 class="imt-calc__heading h2-heading">Расчёт ИМТ</h2>
            <p class="under-calc">Индекс массы тела (англ. BMI) показывает соотношение между массой вашего тела и ростом по <a href="/#formula" class="link"> формуле</a>.</p>

            <div class="imt-calc__inputs">

              <div class="imt-calc__height">
                <label class="form-label" for="calcHeight">Рост</label>
                <input class="form-input" id="calcHeight" name="calcHeight" required="required" type="email" placeholder="163"/>
              </div>

              <div class="imt-calc__weight">
                <label class="form-label" for="calcWeight">Вес</label>
                <input class="form-input" id="calcWeight" name="calcWeight" required="required" placeholder="55.5"/>
              </div>

            </div>

            <input class="form-submit full-width js-calc-btn" type="button" value="Расчитать"/>

          </form>
          {# / calc #}


          {# calc info #}
          <div class="calc-info">

            {# calc result #}
            <div class="calc-result">
              <h4 class="calc-result-header">Ваш ИМТ:</h4>

              <p class="big-digits js-calc-result">?</p>

              <p class="calc-range js-calc-range"></p>
              <a href="" class="link calc-range-link">Шкала значений</a>

            </div>
            {# / calc result #}

            {# calc warning #}
            <div class="calc-warning">
              <h4 class="calc-warning-header">Обратите внимание:</h4>

              <p>ИМТ позволяет примерно оценить состояние человека, но не является заменой полноценной консультации врача.</p>

              <p>Для людей, активно занимающихся спортом, данная формула оценки не подходит из-за большого веса мышечной массы.</p>
            </div>
            {# / calc warning #}

          </div>
          {# / calc info #}

        </div>
        {# / calc block #}

        {# for-specialists #}
        <div class="home-specialists">
          <h2 class="home-specialists__heading h2-heading">Специалистам</h2>

          <ul class="home-specialists__list">
            <li class="home-specialists__item">
              <a href="#" class="home-specialists__link link">Почему правильное питание является неотъемлемой частью лечебного процесса?</a>
            </li>
            <li class="home-specialists__item">
              <a href="#" class="home-specialists__link link">Что такое недостаточность питания, и каковы ее последствия для пациента?</a>
            </li>
            <li class="home-specialists__item">
              <a href="#" class="home-specialists__link link">Как заподозрить и выявить недостаточность питания?</a>
            </li>
            <li class="home-specialists__item">
              <a href="#" class="home-specialists__link link">Что такое нутритивная поддержка?</a>
            </li>
            <li class="home-specialists__item">
              <a href="#" class="home-specialists__link link">Что такое энтеральное питание, как оно проводится и когда оно необходимо?</a>
            </li>
            <li class="home-specialists__item">
              <a href="#" class="home-specialists__link link">Каковы особенности продуктов для энтерального питания?</a>
            </li>
            <li class="home-specialists__item">
              <a href="#" class="home-specialists__link link">Что такое парентеральное питание и когда оно необходимо?</a>
            </li>
          </ul>
        </div>
        {# / for-specialists #}


      </div>
      {# Long center content wrapper #}






</div>
{# / main container #}

{#</div>#}



{%- endblock %}