{% set pageName = "pathology" %}
{% set pathology = "Онкологические заболевания" %}
{% set title = 'Онкологические заболевания - Diet In' %}
{% set description = 'Описание страницы' %}
{% extends 'base.njk' %}

{% block content -%}

  <div class="width-container hor-padding-container">

    <ul class="breadcrumbs breadcrumbs--single">
      <li class="breadcrumbs__item"><a class="link--support link--support-on-white" href="#">Главная</a></li>
      <li class="breadcrumbs__item"><a class="link--support link--support-on-white" href="#">Онкологические заболевания</a></li>
    </ul>

  </div>

  <div class="flex-container hor-padding-container ver-padding-xx-container width-container">
<div class="pathology">
<h1 class="pathology__heading section-heading">Онкологические заболевания</h1>
<ul class="pathology-mobile-nav">
<li class="pathology-mobile-nav__item">
<a class="pathology-mobile-nav__link" href="/categories/onkologicheskie-zabolevaniya/articles">Статьи</a>
</li>
<li class="pathology-mobile-nav__item">
<a class="pathology-mobile-nav__link" href="/categories/onkologicheskie-zabolevaniya/recipes">Рецепты</a>
</li>
</ul>
<div class="pathology__content editor-content">
<p class="important">Онкологические заболевания, безусловно,&nbsp;затрагивают многие аспекты быта человека, меняя его образ жизни и пищевые&nbsp;предпочтения.

В период лечения, как&nbsp;никогда раньше, важна сбалансированная диета...</p>
<p>Онкологические заболевания, безусловно,&nbsp;затрагивают многие аспекты быта человека, меняя его образ жизни и пищевые&nbsp;предпочтения.</p>

<p>В период лечения, как&nbsp;никогда раньше, важна сбалансированная диета.&nbsp;Длительное лечение часто способствует потере массы тела. Это может&nbsp;иметь решающее значение, если&nbsp;к моменту установления диагноза&nbsp;и началу лечения недостаточность&nbsp;питания уже была у пациента. Поддержать вес поможет полноценный и разнообразный рацион, который обеспечит&nbsp;организм жизненно важными питательными&nbsp;веществами и позволит сохранить силы для&nbsp;борьбы с болезнью.</p>

<p><img alt="" src="/uploads/ckeditor/pictures/10/content_DIwf.jpg" style="width: 700px; height: 465px;"></p>

<p><strong>Снижение веса при онкологическом заболевании&nbsp;может быть как проявлением самой болезни,&nbsp;так и следствием проводимой терапии.</strong></p>

<ul>
	<li>Борьба организма с опухолью требует существенных&nbsp;энергетических затрат.&nbsp;</li>
	<li>Течение онкологического заболевания может&nbsp;осложниться потерей массы тела, развитием анемии,&nbsp;снижением аппетита, слабостью и утомляемостью.</li>
	<li>Проводимая при онкологических заболеваниях&nbsp;лучевая и химиотерапия может оказать&nbsp;повреждающее воздействие на слизистую оболочку&nbsp;пищеварительного тракта, следствием чего может&nbsp;стать изменение вкусовых предпочтений,&nbsp;в некоторых случаях – тошнота и диарея.&nbsp;</li>
	<li>В процессе выздоровления, особенно после&nbsp;хирургического вмешательства, потребности&nbsp;организма в энергии и питательных веществах&nbsp;увеличиваются.</li>
</ul>

<p><strong>Почему пациенты с онкологическими заболеваниями&nbsp;теряют вес, даже если питаются нормально?</strong><br>
Потребности в энергии и белке в процессе лечения&nbsp;и реабилитации возрастают, поэтому поступление&nbsp;калорий и питательных веществ должно этому<br>
соответствовать. В случае дисбаланса между&nbsp;потребностью и поступлением питательных веществ,&nbsp;организм вынужден тратить свои собственные резервы,<br>
сжигая жиры и белки для обеспечения требуемой&nbsp;энергией.<br>
Это ведет к ослаблению организма, развитию чувства&nbsp;усталости, ухудшению общего самочувствия. Поэтому&nbsp;разнообразное сбалансированное питание приобретает<br>
ключевое значение.</p>

<p><strong>Сбалансированный рацион питания позволяет не&nbsp;только предотвратить потерю веса, но и обеспечивает&nbsp;дополнительные преимущества для пациента:</strong></p>

<ul>
	<li>Снижение частоты инфекций&nbsp;</li>
	<li>Лучшая переносимость лечения и уменьшение&nbsp;выраженности побочных эффектов</li>
	<li>Более быстрое выздоровление и сокращение сроков&nbsp;пребывания в больнице</li>
	<li>Снижение риска осложнений после хирургического&nbsp;вмешательства</li>
	<li>Лучший прогноз заболевания&nbsp;</li>
	<li>Лучшее качество жизни</li>
</ul>

<p><strong>Следите за своим весом – это очень важно!</strong><br>
В период лечения пациентам бывает трудно потреблять достаточное количество пищи, что приводит к потере веса.<br>
Увеличить количество потребляемых калорий просто:</p>

<ul>
	<li>Ешьте в любое время дня, включая поздний вечер. В период активного лечения можно не придерживаться строгого&nbsp;расписания</li>
	<li>В первую очередь, ешьте блюда, которые Вы очень любите, и тогда, когда Вам этого хочется</li>
	<li>Ешьте чаще, но меньшими порциями</li>
	<li>Устраивайте дополнительные высококалорийные перекусы между основными приемами пищи</li>
	<li>Старайтесь, чтобы диета была сбалансированной по белкам, жирам и углеводам</li>
	<li>Поддерживайте умственную и физическую активность в течение дня для стимуляции аппетита</li>
	<li>Наслаждайтесь едой! Не спешите во время приема пищи и создавайте приятную атмосферу за столом</li>
</ul>

<p>Если обычного рациона недостаточно, чтобы&nbsp;обеспечить Вас необходимыми питательными&nbsp;веществами и энергией, Вам помогут поддержать&nbsp;вес и силы специальные питательные смеси&nbsp;для приема через рот (сипинговое питание&nbsp;или сипинг). Сипинговое питание содержит&nbsp;концентрированные нутриенты (белок, жиры,&nbsp;углеводы, витамины, минералы) в жидкой форме.&nbsp;Оно может быть использовано в качестве добавки&nbsp;к обычному рациону, например, при недоедании,&nbsp;или нарушенном всасывании питательных&nbsp;веществ. Высококалорийный состав содержит&nbsp;много белка, что способствует поддержанию&nbsp;веса и мышечной силы. Кроме того, сипинг&nbsp;обеспечивает достаточное поступление жидкости&nbsp;и минеральных веществ.</p>

<ul>
	<li>Флаконы с сипинговым питанием не нужно&nbsp;хранить в холодильнике, пока они не&nbsp;вскрыты. Вы можете брать их с собой и пить&nbsp;в любое время, когда проголодаетесь или&nbsp;почувствуете жажду. Флаконы с напитком&nbsp;можно повторно закрывать и открывать</li>
	<li>Можно использовать в качестве перекуса&nbsp;между основными приемами пищи. Не&nbsp;уменьшайте количество других продуктов,&nbsp;которые Вы употребляете</li>
	<li>Употребление двух флаконов напитка в&nbsp;день обеспечит значительный прирост&nbsp;общего количества питательных веществ,&nbsp;поступающих в организм</li>
	<li>Питательный напиток предназначен для приема внутрь маленькими глотками</li>
</ul>

<p><strong>Если у Вас стоматит (воспаление слизистой оболочки&nbsp;полости рта) или Вам трудно глотать:</strong></p>

<ul>
	<li>По возможности ешьте жидкую, пюреобразную или&nbsp;мягкую пищу (например, супы, каши, макаронные&nbsp;изделия)</li>
	<li>Запивайте еду, а также добавляйте соусы и заправки&nbsp;для облегчения проглатывания пищи. При этом&nbsp;постарайтесь избегать газированной воды и слишком&nbsp;горячих напитков&nbsp;</li>
	<li>Чаще полощите рот, чтобы слизистая оболочка&nbsp;оставалась влажной&nbsp;</li>
	<li>Используйте жевательную резинку без сахара,&nbsp;чтобы увеличить выделение слюны и облегчить&nbsp;поддержание гигиены полости рта</li>
</ul>

<p><strong>Если Вас беспокоит тошнота и рвота:</strong></p>

<ul>
	<li>Ешьте легко перевариваемую пищу – мягкие фрукты&nbsp;(например, бананы), нежирный йогурт, куриное мясо&nbsp;без кожи, картофель, макаронные изделия и т. д.</li>
	<li>Старайтесь избегать очень сладких, сильно пахнущих,&nbsp;острых и жирных блюд!</li>
	<li>Ешьте подсушенные мучные несладкие продукты,&nbsp;например, соленые нежирные крекеры, галеты илинесладкие сухарики. Это «успокаивает» желудочно-кишечный тракт</li>
	<li>Ешьте в хорошо проветриваемом помещениии избегайте сильных запахов</li>
	<li>Старайтесь не употреблять пищу хотя бы за два часа до начала лучевой или химиотерапии</li>
	<li>Старайтесь чаще пить воду, а также травяные&nbsp;и фруктовые чаи</li>
</ul>

<p><strong>Советы для тех, кто страдает от диареи:</strong></p>

<ul>
	<li>Употребляйте достаточное количество жидкости в течение дня. Пейте воду или травяные и фруктовые&nbsp;чаи. Старайтесь ограничить употребление кофеин-содержащих, газированных напитков, соков,&nbsp;напитков с высоким содержанием сахара, а также&nbsp;алкогольных напитков</li>
	<li>Обычно хорошо переносятся следующие блюда: мясо&nbsp;(но не колбасные изделия), рыба, картофель,морковь,&nbsp;бананы, яблоки, макаронные изделия, рис, вареные&nbsp;овощи и овощи на пару, хлеб и вареные яйца</li>
	<li>Старайтесь меньше употреблять белокочанную и цветную капусту, лук, бобовые – они вызывают&nbsp;избыточное газообразование. Ограничьте количество&nbsp;фруктов</li>
	<li>Лучше переносятся такие молочные продукты, как нежирный йогурт и обезжиренные сыры, или сыры&nbsp;с пониженным содержанием жира, а также жирные&nbsp;твердые сыры</li>
	<li>Избегайте острой пищи</li>
</ul>

<p><strong>Тем, кто страдает хроническими запорами:</strong></p>

<ul>
	<li>Ешьте пищу, богатую волокнами, например, сырые&nbsp;овощи, фрукты, цельно-зерновые продукты,&nbsp;кукурузные хлопья и овсяную кашу</li>
	<li>Выпивайте до 2,5 литров жидкости в день, используя&nbsp;фруктовые соки, воду, травяные или фруктовые&nbsp;чаи. Имейте в виду, что грейпфрутовый сок в&nbsp;больших количествах может снизить эффективность&nbsp;некоторых лекарственных препаратов&nbsp;(проконсультируйтесь с Вашим лечащим врачом)</li>
	<li>По возможности увеличьте употребление&nbsp;кисломолочных продуктов и несладких соков&nbsp;</li>
	<li>Регулярно делайте гимнастические упражнения,&nbsp;поскольку физическая активность стимулирует пищеварение</li>
</ul>

<p>&nbsp;</p>

</div>
</div>

<div class="pathology-subnav">
<ul class="pathology-subnav__list">
<li class="pathology-subnav__base">
<a class="pathology-subnav__link is-active" href="/categories/onkologicheskie-zabolevaniya"><svg class="icon pathology-subnav-icon" viewBox="0 0 24 24">

<title>Right</title><path d="M8 7.41L9.41 6l6 6-6 6L8 16.59 12.58 12"></path></svg>Информация
</a>
<ul class="pathology-sublist">
<li class="pathology-sublist__item">
Питание при онкологических заболеваниях
</li>
</ul>
</li>
<li class="pathology-subnav__base">
<a class="pathology-subnav__link" href="/categories/onkologicheskie-zabolevaniya/articles"><svg class="icon pathology-subnav-icon" viewBox="0 0 24 24">

<title>Right</title><path d="M8 7.41L9.41 6l6 6-6 6L8 16.59 12.58 12"></path></svg>Статьи
</a>
</li>
<li class="pathology-subnav__base">
<a class="pathology-subnav__link" href="/categories/onkologicheskie-zabolevaniya/recipes"><svg class="icon pathology-subnav-icon" viewBox="0 0 24 24">

<title>Right</title><path d="M8 7.41L9.41 6l6 6-6 6L8 16.59 12.58 12"></path></svg>Рецепты
</a>
</li>
</ul>
</div>

</div>

{%- endblock %}