{% set pageName = "recipes" %}
{% set pathology = "Онкологические заболевания" %}
{% set title = 'Рецепты - Diet In' %}
{% set description = 'Описание страницы' %}
{% extends 'base.njk' %}

{% block content -%}

{% include "partials/section-banner.njk" %}

<div class="width-container hor-padding-container ver-padding-xx-container">

  <h1 class="section-heading">Рецепты</h1>

  {% include "partials/recipes-filter.njk" %}

  {% include "partials/recipes-grid.njk" %}

  {% include "partials/pagination.njk" %}

</div>

{%- endblock %}