<div class="action-footer">

  <span class="download-pdf">
    <svg class="icon icon-pdf">
      <use xlink:href="svg/sprite.svg#icon-pdf"></use>
    </svg>
    <a href="javascript:void(0);" class="download-pdf__link link">Скачать PDF</a>
  </span>

  <span class="addtofavs js-addtofavs">
    <svg class="icon icon-heart--onwhite">
      <use xlink:href="svg/sprite.svg#icon-heart"></use>
    </svg>
    <a href="javascript:void(0);" class="addtofavs__link link">Избранные рецепты</a>
  </span>

  <ul class="action-list">
    {% for action in actions %}
    <li class="action-list__item">
      <svg class="icon icon-{{ action }}">
        <use xlink:href="svg/sprite.svg#icon-{{ action }}"></use>
      </svg>
    </li>
    {% endfor %}
  </ul>

</div>