<p>У детей с впервые выявленным онкологическим заболеванием, госпитализированных в стационар, еще до начала лечения отмечается нутритивная недостаточность (НН) разной степени выраженности с частотой от 10 до 50 % и более в зависимости от нозологии опухоли. На этапе химиолучевой терапии НН диагностируется у 75–80 % больных, а после трансплантации гемопоэтических стволовых клеток – в 100 % случаев. В статье на основании опыта работы по проведению клинического питания в ФНКЦ ДГОИ обсуждаются организационные и методические проблемы диетологического сопровождения и нутритивной поддержки детей с онкологическими заболеваниями.</p>

<p><b>Ключевые слова:</b> детская онкология, клиническое питание, нутритивный статус, нутритивная недостаточность, нутритивная поддержка</p>

<p>По данным различных авторов, у детей с онкологическими заболеваниями уже при первом поступлении в специализированный стационар частота недостаточности питания (нутритивной недостаточности (НН)) колеблется от 10 до 50 % и более в зависимости от нозологии опухоли [1, 2]. По нашим наблюдениям, при поступлении в клиники ФНКЦ ДГОИ у 12,1 % детей с солидными опухолями отмечается умеренная, а у 39,4 % – тяжелая НН; у детей с гемобластозами – у 15,0 и 7,5 % соответственно; в процессе химиолучевого лечения НН диагностируется у 75–80 %, а после трансплантации гемопоэтических стволовых клеток (ТГСК) – практически у всех пациентов.</p>

<h2>Пробуем заголовок второго уровня</h2>

<p>Хорошо известно, что основными причинами развития НН являются изменения метаболизма, вызванные наличием злокачественной опухоли, и прежде всего, выраженным провоспалительным статусом. Генерируемые опухолевыми клетками факторы липолиза и деградации белка приводят к быстрой потере массы тела, прежде всего за счет распада мышечных белков. Опухолевая интоксикация; различные осложнения химиолучевой и стероидной терапии: поражение органов пищеварения (мукозиты, гастриты, энтероколиты, панкреатиты, токсический гепатит и т. д.); инфекционные осложнения; нарушение пищевого поведения (уменьшение / увеличение / избирательность аппетита, извращение восприятия вкуса и запаха, пищевые аверсии); психологические проблемы (стресс, тревога, депрессия); мучительные симптомы (боль, тошнота, рвота, диарея, метеоризм и пр.) также способствуют формированию НН, требуя максимально раннего начала адекватной нутритивной поддержки (НП).</p>

<h3>Пробуем заголовок третьего уровня</h3>

<p>НН, согласно данным литературы, оказывает отрицательное влияние на результаты лечения и прогноз у детей с острым лимфобластным лейкозом и нейробластомой [3–5]. С низкими показателями нутритивного статуса (НС) коррелирует большая частота эпизодов лихорадки и рвоты и более длительная госпитализация [6]. НН у детей перед кондиционированием ассоциирована с высокими рисками тяжелых осложнений и гипофункции трансплантата в раннем посттрансплантационном периоде [7], а скорость восстановления гемопоэза после трансплантации костного мозга положительно коррелирует с показателями их НС к моменту установления диагноза [8]. Поддержание адекватного питания в процессе химиотерапии снижает риск инфекционных осложнений [9]. В литературе обсуждаются и морально-этические аспекты НП, указывается на недопустимость отказа от организации клинического питания маленьких и взрослых пациентов в госпитальных условиях с целью экономии ресурсов [10].</p>

<p>Фармакоэкономические расчеты, проведенные специалистами в разных странах – США, Дании, Великобритании, Швеции и др., показывают, что своевременная и эффективная НП больных с различными заболеваниями позволяет существенно сократить сроки госпитализации и снизить больничные расходы, связанные с лечением, на миллионы долларов в год [11–15].</p>

<h4>Пробуем заголовок четвёртого уровня</h4>

<p>Адекватная НП рассматривается как обязательный компонент комплексного лечения онкологических пациентов, что признается и отечественными авторами [16, 17]. В то же время необходимо указать на то, что в клинической практике отечественной детской онкологии НП, к сожалению, уделяется ничтожно малое внимание. Существует целый ряд организационно-методических проблем, без решения которых невозможно создать систему клинического питания в онкопедиатрической клинике.</p>