<div class="article">

  <h1 class="article__header">Нутритивный статус и тканевый состав тела у детей после трансплантации гемопоэтических стволовых клеток</h1>

  <p class="article__authors">
    А.Ю.&nbsp;Вашура, М.В.&nbsp;Коновалова, Е.В.&nbsp;Скоробогатов, С.В.&nbsp;Бельмер, Г.Я.&nbsp;Цейтлин
  </p>

  <div class="article__content editor-content">

    {% include "partials/article-content.njk" %}

    <p class="article-source"><h6 class="article-source__header">Источник:</h6><a href="#" class="article-source__link link">Журнал «Онкология», 2011</a></p>

  </div>

  {% include "partials/action-footer.njk" %}




</div>