<footer class="footer">

  <div class="footer__inner width-container hor-padding-container">

    <span class="footer__copyright">&copy; Diet In, 2017</span>

    <ul class="footer-nav">
      <li class="footer-nav__item"><a class="link--support" href="#">Правовая информация</a></li>
      <li class="footer-nav__item"><a class="link--support" href="#">Карта сайта</a></li>
      <li class="footer-nav__item"><a class="link--support" href="#">Обратная связь</a></li>
    </ul>

  </div>

</footer>
