<header class="top-header js-header js-header-down">

    <div class="top-header__inner width-container hor-padding-container">

      {# Logo #}
      <div class="logo logo--header">
        <a class="link--full" href="/" title="Diet In">
          <svg class="logo__image">
            <use xlink:href="svg/sprite.svg#logo"></use>
          </svg>
      </a>
      </div>

      {# Pathologies dropdown #}
      {% include "partials/pathologies-nav.njk" %}

      <div class="filler"></div>

      {# Service menu #}
        <ul class="service-nav">
          <li class="service-nav__item"><a href="/contact.html" class="service-nav__link">Обратная связь</a></li>
          <li class="service-nav__item"><a href="/login.html" class="service-nav__link">Вход</a></li>
        </ul>

      {# Search button #}
      <div class="search__btn js-search-btn">
        <svg class="icon js-icon-search">
          <use xlink:href="svg/sprite.svg#icon-search"></use>
        </svg>
        <svg class="icon js-icon-close">
          <use xlink:href="svg/sprite.svg#icon-close"></use>
        </svg>
      </div>

      {# Mobile menu button #}
      <div class="mobile-nav__btn js-mobile-nav-btn">
        <svg class="icon js-icon-menu">
          <use xlink:href="svg/sprite.svg#icon-menu"></use>
        </svg>
        <svg class="icon js-icon-menu-close">
          <use xlink:href="svg/sprite.svg#icon-close"></use>
        </svg>
      </div>

    </div>

  {#  Search dropdown  #}

  <div class="search__wrapper">
    <div class="search js-search">

      <form id="searchForm" class="search__form width-container" method="get" role="search">
        <input type="text" class="search__field" placeholder="Что вас интересует?" id="search"/>
        <input type="submit" class="search__submit" value="Найти" id="submit" />
      </form>

    </div>
  </div>

</header>