<nav class="mobile-nav js-mobile-nav">

  <ul class="mobile-nav__list">

    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="/">Главная</a>
    </li>

    {# nutrient in data/data.json #}
    {% for pathology in pathologies %}
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#0"> {{ pathology }}</a>
      <span class="mobile-subnav-btn js-mobile-subnav-btn">
        <svg class="icon js-subnav-down">
          <use xlink:href="svg/sprite.svg#icon-chevron-down"></use>
        </svg>
        <svg class="icon js-subnav-up">
          <use xlink:href="svg/sprite.svg#icon-chevron-up"></use>
        </svg>
      </span>
      <ul class="mobile-subnav js-mobile-subnav">
        {# nutrient in data/data.json #}
        {% for subsection in subsections %}
        <li class="mobile-subnav__item">
          <a class="mobile-nav__sublink" href="#0">{{ subsection }}</a>
        </li>
        {% endfor %}

      </ul>
    </li>
    {% endfor %}

    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="/contact.html">Обратная связь</a>
    </li>

  </ul>

</nav>

<div class="mobile-nav-overlay js-mobile-nav-overlay"></div>
