<div class="pagination__wrapper">

  <ul class="pagination" role="menubar" aria-label="Pagination">

      <li><a class="pagination__link" href="">
        <svg class="icon pagination__icon">
          <use xlink:href="svg/sprite.svg#icon-chevron-left"></use>
        </svg>
      </a></li>

      <li><a class="pagination__link" href="">1</a></li>

      <li><a class="pagination__link" href="">2</a></li>

      <li><a class="pagination__link pagination__current" href="">3</a></li>

      <li><a class="pagination__link" href="">4</a></li>

      <li><a class="pagination__link" href="">5</a></li>

       <li><a class="pagination__link" href="">
        <svg class="icon pagination__icon">
          <use xlink:href="svg/sprite.svg#icon-chevron-right"></use>
        </svg>
      </a></li>

    </ul>

</div>