<p class="important">Питание очень важно как для здорового, так и для больного человека.</p>

<p>Онкологические заболевания, безусловно, затрагивают многие аспекты быта  человека, меняя его образ жизни и пищевые предпочтения. В период лечения, как никогда раньше, важна сбалансированная  диета.</p>

<p>Длительное лечение часто способствует потере массы тела. Это может иметь решающее значение, если к моменту установления диагноза и началу лечения недостаточность питания уже была у пациента.</p>

<p>Поддержать вес поможет  полноценный разнообразный рацион, который обеспечит организм жизненно важными питательными веществами и позволит  сохранить силы для борьбы с болезнью.</p>

<img src="img/pathology-01.jpg" alt="" />

<p>Питание очень важно как для здорового, так и для больного человека</p>

<p>Онкологические заболевания, безусловно, затрагивают многие аспекты быта  человека, меняя его образ жизни и пищевые предпочтения. В период лечения, как никогда раньше, важна сбалансированная  диета.</p>

<p>Длительное лечение часто способствует потере массы тела. Это может иметь решающее значение, если к моменту установления диагноза и началу лечения недостаточность питания уже была у пациента.</p>

<p>Поддержать вес поможет  полноценный разнообразный рацион, который обеспечит организм жизненно важными питательными веществами и позволит  сохранить силы для борьбы с болезнью.</p>