<nav class="pathologies-nav">

  {# Button #}

  <span class="pathologies-nav__btn js-dropdown-btn">

    <span class="pathologies-nav__text">Особые состояния</span>

    <svg class="icon js-icon-down">
      <use xlink:href="svg/sprite.svg#icon-chevron-down"></use>
    </svg>
    <svg class="icon js-icon-up">
      <use xlink:href="svg/sprite.svg#icon-chevron-up"></use>
    </svg>

  </span>

  {# Dropdown #}

  <ul class="pathologies-nav__list js-dropdown">

    {# pathologies in data/data.json #}
    {% for pathology in pathologies %}
    <li class="pathologies-nav__item">
      <a class="pathologies-nav__link link--stealth link--full" href="#">{{ pathology }}</a>
    </li>
    {% endfor %}
  </ul>

</nav>