<ul class="pathology-subnav__list">

  <li class="pathology-subnav__base">
    <a href="#" class="pathology-subnav__link is-active"><svg class="icon pathology-subnav-icon"><use xlink:href="svg/sprite.svg#icon-chevron-right"></use></svg>Информация</a>

    <ul class="pathology-sublist">

      <li class="pathology-sublist__item">
        <a href="#" class="pathology-sublist__link link">Рекомендации по питанию</a>
      </li>

      <li class="pathology-sublist__item">
        Что делать если всё плохо
      </li>

      <li class="pathology-sublist__item">
        <a href="#" class="pathology-sublist__link link">Что сделать, чтобы было хорошо</a>
      </li>

      <li class="pathology-sublist__item">
        <a href="#" class="pathology-sublist__link link">Почему всё так, как оно есть, и как с этим бороться</a>
      </li>

      <li class="pathology-sublist__item">
        <a href="#" class="pathology-sublist__link link">Какое-то очень длинное название рекомендации, чтобы проверить как работают длинные названия реккомендаций</a>
      </li>

      <li class="pathology-sublist__item">
        <a href="#" class="pathology-sublist__link link">Ещё что-то</a>
      </li>

      <li class="pathology-sublist__item">
        <a href="#" class="pathology-sublist__link link">Это всё, больше ничего нет</a>
      </li>

    </ul>
  </li>

  <li class="pathology-subnav__base">
    <a href="/articles.html" class="pathology-subnav__link"><svg class="icon pathology-subnav-icon"><use xlink:href="svg/sprite.svg#icon-chevron-right"></use></svg>Статьи</a>
  </li>

  <li class="pathology-subnav__base">
    <a href="/recipes.html" class="pathology-subnav__link"><svg class="icon pathology-subnav-icon"><use xlink:href="svg/sprite.svg#icon-chevron-right"></use></svg>Рецепты</a>
  </li>

</ul>