<ul class="recipes-filter">
  <li class="recipes-filter__item recipes-filter__item--chosen">Все</li>
  <li class="recipes-filter__item"><a class="link" href="#">Супы</a></li>
  <li class="recipes-filter__item"><a class="link" href="#">Вторые блюда</a></li>
  <li class="recipes-filter__item"><a class="link" href="#">Каши</a></li>
  <li class="recipes-filter__item"><a class="link" href="#">Закуски</a></li>
  <li class="recipes-filter__item"><a class="link" href="#">Салаты</a></li>
  <li class="recipes-filter__item"><a class="link" href="#">Дессерты</a></li>
  <li class="recipes-filter__item"><a class="link" href="#">Выпечка</a></li>
  <li class="recipes-filter__item"><a class="link" href="#">Напитки</a></li>
</ul>