<ul class="recipes-filter recipes-filter--sc">
  <li class="recipes-filter__item"><a class="link" href="#">Все состояния</a></li>
  <li class="recipes-filter__item recipes-filter__item--chosen">Зрелый возраст</li>
  <li class="recipes-filter__item"><a class="link" href="#">Онкологические заболевания</a></li>
</ul>