<div class="recipes-grid__container gallery-grid">

  {# recipes in data/data.json #}
  {% for recipe in recipes | batch(11) | first %}

  <div class="recipe-card gallery-item">

    <div class="recipe-thumb__wrapper">
      <img class="recipe-thumb__image" src="img/thmbs/recipe-thumb-{{ loop.index }}.jpg" />
      <div class="recipe-thumb__gradient"></div>
       <a class="recipe-thumb__label link--stealth" href="javascript:void(0);">{{ recipe.type | lower }}</a>

       <a href="javascript:void(0);" class="js-fav-btn recipe-thumb__fav is-active">
        <svg class="icon icon-heart js-icon-fav">
          <use xlink:href="svg/sprite.svg#icon-heart"></use>
        </svg>
      </a>

      <h2 class="recipe-thumb-heading recipe-thumb__heading">{{ recipe.title }}</h2>
    </div>

    <ul class="recipe-card-nutrients">

      {# nutrient in data/data.json #}
      {% for nutrient in nutrientsGeneric %}
      <li class="recipe-card-nutrients__item">
        <span class="recipe-card-nutrients__key">{{ nutrient.name }}
          <em class="recipe-card-nutrients__unit">({{ nutrient.unit }})</em>
        </span>
        <span class="recipe-card-nutrients__value">{{ nutrient.amount }}</span>
      </li>
      {% endfor %}

      <div class="recipe-card__conditions">
        Зрелый возраст
      </div>



    </ul>

    <a href="javascript:void(0);" class="recipe-card__link"></a>

  </div>

{% endfor %}

</div>