<div class="saved-recipes-empty">
  <div class="saved-recipes-empty__text">
    <h3 class="h3-heading">Список сохранённых рецептов пока пуст.</h3>
    <p class="homebody">Вы ещё не занесли ни один из рецептов в свой список избранного. Это можно сделать нажав иконку с изображением сердца на карточке рецепта  или через ссылку "Избранные рецепты" в нижней части страницы отдельного рецепта.</p>
  </div>
  <img src="img/fav-example.png" alt=""><img src="img/fav-example-2.png" alt="">
</div>