<div class="recipe">

  <img class="recipe__img" src="img/recipe-big.jpg" alt="Фото Tарелка со множеством вкусных вещей длинное название">

  <div class="recipe-content">

    <h1 class="recipe__header">Борщ из свежей капусты со сметаной</h1>

    <div class="recipe__info">


      <div class="recipe-ingredients">

        <h2 class="recipe-section__header">Ингредиенты</h2>

        <ul class="recipe-ingredients__list">
          {% for group in ingredientGroups %}
          <li class="recipe-ingredients__group">
            <h5 class="recipe-ingredients__group-recipe__header">{{ group }}</h5>
            <ul class="recipe-ingredients__items">
              {% for item in ingredientItems %}
              <li class="recipe-ingredinet__item">
                  {{ item.name }}&nbsp;&mdash;&nbsp;{{ item.amount }}&nbsp;{{ item.unit }}
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>


      </div> {# / recipe-ingredients #}


      <div class="recipe-nutrients">

        <h2 class="recipe-nutrients__header">Нутриенты</h2>

        <ul class="recipe-nutrients-list">

          {# nutrient in data/data.json #}
          {% for nutrient in nutrients %}
          <li class="recipe-nutrients__item">
            <span class="recipe-nutrients__key">{{ nutrient.name }}
              <em class="recipe-nutrients__unit">({{ nutrient.unit }})</em>
            </span>
            <span class="recipe-nutrients__value">{{ nutrient.amount }}</span>
          </li>
          {% endfor %}
          {% for nutrient in nutrients %}
          <li class="recipe-nutrients__item js-hidden-nutrients">
            <span class="recipe-nutrients__key">{{ nutrient.name }}
              <em class="recipe-nutrients__unit">({{ nutrient.unit }})</em>
            </span>
            <span class="recipe-nutrients__value">{{ nutrient.amount }}</span>
          </li>
          {% endfor %}
          <li class="recipe-nutrients__item recipe-nutrients__expand"><a href="javascript:void(0);" class="recipe-nutrients__expand-link link js-expand-nutrients">Все нутриенты</a></li>

        </ul>

      </div> {# / recipe-nutrients #}

    </div>  {# / recipe-info #}


    <div class="recipe-method">

      <h2 class="recipe-section__header">Способ приготовления</h2>

      <p><b>Шаг 1</b></p>
      <p>Замесите тесто из муки, разрыхлителя, сахара и масла, раскатайте его, чтобы образовался слой толщиной 0,5 см.</p>
      <br>
      <p><b>Шаг 2</b></p>
      <p>Разложите очищенные сливы на раскатанном тесто, посыпьте сахаром, сверните и выпекайте при температуре 190-200 С в течение 40 минут.</p>

    </div> {# / recipe-method #}


    <div class="recipe-keywords">
      <h6 class="recipe-keywords__header">Ключевые слова:</h6>
      <ul class="recipe-keywords__list">
        {% for keyword in keywords %}
        <li class="recipe-keywords__item">
          <a href="#" class="recipe-keywords__link link">{{ keyword | lower }}</a>,
        </li>
        {% endfor %}
      </ul>
    </div> {# / recipe-keywords #}

    {% include "partials/action-footer.njk" %}

  </div>  {# / recipe-content #}


</div>