<ul class="recipes-filter">
  <li><a class="recipes-filter__link recipes-filter__link--chosen" href="#">Всё</a></li>
  <li><a class="recipes-filter__link" href="#">Супы</a></li>
  <li><a class="recipes-filter__link" href="#">Вторые блюда</a></li>
  <li><a class="recipes-filter__link" href="#">Каши</a></li>
  <li><a class="recipes-filter__link" href="#">Закуски</a></li>
  <li><a class="recipes-filter__link" href="#">Салаты</a></li>
  <li><a class="recipes-filter__link" href="#">Дессерты</a></li>
  <li><a class="recipes-filter__link" href="#">Выпечка</a></li>
  <li><a class="recipes-filter__link" href="#">Напитки</a></li>
</ul>