<ul class="recipes-filter recipes-filter--sc">
  <li><a class="link recipes-filter-sc__link" href="#">Все состояния</a></li>
  <li><a class="link recipes-filter-sc__link recipes-filter-sc__link--chosen" href="#">Зрелый возраст</a></li>
  <li><a class="link recipes-filter-sc__link" href="#">Онкологические заболевания</a></li>
</ul>