<form class="search-results-filter" action="get">

  {# filter by category #}
  <ul class="search-filter">

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="catAll" name="category" value="catall" checked>
      <label class="css-label radio-label" for="catAll">Все категории</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="cat01" name="category" value="01">
      <label class="css-label radio-label" for="cat01">Зрелый возраст</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="cat02" name="category" value="02">
      <label class="css-label radio-label" for="cat02">Нарушения глотания</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="cat03" name="category" value="03">
      <label class="css-label radio-label" for="cat03">Муковисцидоз</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="cat04" name="category" value="04">
      <label class="css-label radio-label" for="cat04">Синдром короткой кишки</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="cat05" name="category" value="05">
      <label class="css-label radio-label" for="cat05">Хроническая болезнь почек</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="cat06" name="category" value="06">
      <label class="css-label radio-label" for="cat06">Онкологические заболевания</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="cat07" name="category" value="07">
      <label class="css-label radio-label" for="cat07">ВИЧ и СПИД</label>
    </li>

  </ul>
  {# / filter by category #}


  {# filter by type #}
  <ul class="search-filter">

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="typeAll" name="type" value="typeall" checked>
      <label class="css-label radio-label" for="typeall">Все типы</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="typeRec" name="type" value="rec">
      <label class="css-label radio-label" for="typeRec">Рекомендации</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="typeRecipe" name="type" value="recipe">
      <label class="css-label radio-label" for="typeRecipe">Рецепты</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="typeArticle" name="type" value="article">
      <label class="css-label radio-label" for="typeArticle">Статьи</label>
    </li>

    <li class="search-filter__item">
      <input class="css-checkbox" type="radio" id="typeMisc" name="type" value="misc">
      <label class="css-label radio-label" for="typeMisc">Другое</label>
    </li>

  </ul>
  {# / filter by type #}

</form>