<h3 class="search-result__heading">Рекомендации</h3>

<ul class="search-result">

  <li class="search-result__item">
    <div class="search-result__text">
      <h4 class="search-result__title">Нарушения глотания</h4>
      <p class="search-result__content">Нарушения глотания зачастую возникают у людей, перенесших инсульт, страдающих <mark>болезнью Паркинсона</mark> или злокачественными опухолями головного мозга и области шеи, особенно на фоне проводимой лучевой терапии...</p>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__text">
      <h4 class="search-result__title"><mark>Нарушение глотания</mark> при инсультах. Особенности ведения пациента с дисфагией.</h4>
      <p class="search-result__content">...глотательной функции способствуют проведение реабилитационных упражнений, рефлексотерапия, электростимуляция глоточных мышц, транскраниальная магнитная стимуляция и метод биологической обратной связи...</p>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__text">
      <h4 class="search-result__title">Федеральные клинические рекомендации по оказанию медицинской помощи детям с кистозным фиброзом (<mark>муковисцидозом</mark>)</h4>
      <p class="search-result__content">..клинические рекомендации подготовлены совместно с Всероссийской ассоциацией для больных <mark>муковисцидозом</mark>, рассмотрены и утверждены на заседании Исполкома профессиональной ассоциации детских врачей Союза педиатров...</p>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__text">
      <h4 class="search-result__title">Нарушения глотания</h4>
      <p class="search-result__content">Нарушения глотания зачастую возникают у людей, перенесших инсульт, страдающих <mark>болезнью Паркинсона</mark> или злокачественными опухолями головного мозга и области шеи, особенно на фоне проводимой лучевой терапии...</p>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__text">
      <h4 class="search-result__title">Нарушения глотания</h4>
      <p class="search-result__content">Нарушения глотания зачастую возникают у людей, перенесших инсульт, страдающих <mark>болезнью Паркинсона</mark> или злокачественными опухолями головного мозга и области шеи, особенно на фоне проводимой лучевой терапии...</p>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

</ul>



<a href="#" class="search-result__catlink link">Все найденные рекомендации</a>



<h3 class="search-result__heading">Рецепты</h3>

<ul class="search-result">

  <li class="search-result__item">
    <div class="search-result__thumb">
      <img class="related-list__thumb" src="img/thmbs/recipe-thumb-1.jpg" />
    </div>
    <div class="search-result__text">
      <h4 class="search-result__title">Нарушения глотания</h4>
      <p class="search-result__content">Нарушения глотания зачастую возникают у людей, перенесших инсульт, страдающих <mark>болезнью Паркинсона</mark> или злокачественными опухолями головного мозга и области шеи, особенно на фоне проводимой лучевой терапии...</p>
      <ul class="search-result__nutrients">{% for nutrient in nutrients %}<li>{{ nutrient.name }} &mdash; {{ nutrient.amount }}{{ nutrient.unit }}</li>{% endfor %}</ul>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__thumb">
      <img class="related-list__thumb" src="img/thmbs/recipe-thumb-2.jpg" />
    </div>
    <div class="search-result__text">
      <h4 class="search-result__title"><mark>Нарушение глотания</mark> при инсультах. Особенности ведения пациента с дисфагией.</h4>
      <p class="search-result__content">...глотательной функции способствуют проведение реабилитационных упражнений, рефлексотерапия, электростимуляция глоточных мышц, транскраниальная магнитная стимуляция и метод биологической обратной связи...</p>
      <ul class="search-result__nutrients">{% for nutrient in nutrients %}<li>{{ nutrient.name }} &mdash; {{ nutrient.amount }}{{ nutrient.unit }}</li>{% endfor %}</ul>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__thumb">
      <img class="related-list__thumb" src="img/thmbs/recipe-thumb-3.jpg" />
    </div>
    <div class="search-result__text">
      <h4 class="search-result__title">Федеральные клинические рекомендации по оказанию медицинской помощи детям с кистозным фиброзом (<mark>муковисцидозом</mark>)</h4>
      <p class="search-result__content">..клинические рекомендации подготовлены совместно с Всероссийской ассоциацией для больных <mark>муковисцидозом</mark>, рассмотрены и утверждены на заседании Исполкома профессиональной ассоциации детских врачей Союза педиатров...</p>
      <ul class="search-result__nutrients">{% for nutrient in nutrients %}<li>{{ nutrient.name }} &mdash; {{ nutrient.amount }}{{ nutrient.unit }}</li>{% endfor %}</ul>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__thumb">
      <img class="related-list__thumb" src="img/thmbs/recipe-thumb-4.jpg" />
    </div>
    <div class="search-result__text">
      <h4 class="search-result__title">Нарушения глотания</h4>
      <p class="search-result__content">Нарушения глотания зачастую возникают у людей, перенесших инсульт, страдающих <mark>болезнью Паркинсона</mark> или злокачественными опухолями головного мозга и области шеи, особенно на фоне проводимой лучевой терапии...</p>
      <ul class="search-result__nutrients">{% for nutrient in nutrients %}<li>{{ nutrient.name }} &mdash; {{ nutrient.amount }}{{ nutrient.unit }}</li>{% endfor %}</ul>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

  <li class="search-result__item">
    <div class="search-result__thumb">
      <img class="related-list__thumb" src="img/thmbs/recipe-thumb-5.jpg" />
    </div>
    <div class="search-result__text">
      <h4 class="search-result__title">Нарушения глотания</h4>
      <p class="search-result__content">Нарушения глотания зачастую возникают у людей, перенесших инсульт, страдающих <mark>болезнью Паркинсона</mark> или злокачественными опухолями головного мозга и области шеи, особенно на фоне проводимой лучевой терапии...</p>
      <ul class="search-result__nutrients">{% for nutrient in nutrients %}<li>{{ nutrient.name }} &mdash; {{ nutrient.amount }}{{ nutrient.unit }}</li>{% endfor %}</ul>
    </div>
    <a href="#" class="search-result__link"></a>
  </li>

</ul>



<a href="#" class="search-result__catlink link">Все найденные рецепты</a>