<div class="section-banner section-banner--{{ pageName }}">
  <div class="section-banner__gradient"></div>

<div class="section-banner__inner width-container hor-padding-container">

  <ul class="breadcrumbs breadcrumbs--banner">
    <li class="breadcrumbs__item"><a class="link--support" href="#">Главная</a></li>
    <li class="breadcrumbs__item"><a class="link--support" href="#">Онкологические заболевания</a></li>
    <li class="breadcrumbs__item">Статьи</li>
  </ul>

</div>

</div>