// // Variant 1

// .articles-intro {
//   line-height: 1.6;

//   max-width: 680px;
// }

// .article-list {
//   display: flex;
//   flex-direction: row;

//   margin-top: 40px;
//   margin-right: -12px;
//   margin-bottom: 0;
//   margin-left: -12px;
//   padding: 0;

//   list-style: none;

//   flex-wrap: wrap;
//   justify-content: space-between;
// }

// .article-list__item {
//   display: flex;

//   margin: 0 12px;
//   margin-top: 24px;

//   border: 1px solid #edeff3;
//   border-top: 4px solid $primary;
//   background: #ffffff;
//   box-shadow: 0 3px 0 0 #f6f7f9;

//   flex-basis: calc(50% - 24px);
// }

// .article-list__link {
//   line-height: 1.6em;

//   padding: 24px;

//   transition: all .3s ease;
//   text-decoration: none;

//   color: $text-black;

//   align-items: flex-start;
// }

// .article-list__link:hover {
//   color: white;
//   background-color: $primary;
// }



// variant 2

.articles-intro {
  line-height: 1.6;

  max-width: 680px;
}

.article-list {
  margin-top: 64px;
  padding: 0;

  list-style: none;
}

.article-list__item {
  font-family: $sans-serif-2;
  font-size: 17px;
  font-weight: $normal;

  border-bottom: 1px solid $sep-light;
}

.article-list__link {
  line-height: 1.5;

  padding: 12px 0;

  transition: all .3s ease;
  text-decoration: none;

  color: $text-black;
}

.article-list__link:hover {
  padding-left: 4px;

  color: $primary-link;
}
