@media screen and (min-width: 680px) {
  .article {
    padding-right: 24px;

    flex: 1 1 auto;
  }
}

@media screen and (min-width: $h-max) {
  .article {
    padding-right: 32px;
  }
}

.article__header {
  font-family: $sans-serif-2;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.3333;

  margin-top: 0;
  padding: 0;

  color: $text-black;
}

@media screen and (min-width: 920px) {
  .article__header {
    font-size: 26px;
  }
}

.article__authors {
  font-size: 14px;
  font-style: italic;
  line-height: 1.6;

  margin: 20px 0 32px;
  padding: 10px 0;

  border-top: 1px solid $sep-light;
  border-bottom: 3px solid $sep-light;
}

.article-source {
  margin-top: 32px;
}

.article-source__header {
  font-size: 13px;
  font-weight: $bold;

  margin-bottom: 8px;
}

.article-source__link {
  font-size: 13px;
}

.article__content {
  max-width: 678px;
  padding-bottom: 48px;
}
