.footer {
  font-size: 14px;

  margin-top: $v-main;

  text-align: center;

  color: $text-pale;
  background-color: $text-black;
}




@media screen and (min-width: 680px) {
  .login-page .footer,
  .contact-page .footer,
  .registration-page .footer, {
    margin-top: 0;
  }
}

.footer__copyright {
  display: block;

  padding: 16px 0;

  border-bottom: 1px solid #292d38;
}

.footer-nav {
  margin: 0;
  padding: 16px 0 24px;

  list-style: none;
}

.footer-nav__item {
  display: block;

  padding: 8px;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 13px;
    line-height: $v-main;

    height: $v-main;

    text-align: center;
  }

  .footer__inner {
    display: flex;

    align-content: center;
    justify-content: space-between;
  }

  .footer__copyright {
    display: inline;

    padding: 0;

    border-bottom: none;
  }

  .footer-nav {
    display: flex;

    padding: 0;

    justify-content: flex-end;
  }

  .footer-nav__item {
    display: inline;

    margin-left: 24px;
    padding: 0;
  }
}
