.icon {
  width: 24px;
  height: 24px;

  fill: currentColor;
}

.icon--white {
  fill: #ffffff;
}

.icon-pdf {
  color: $sep-dark;

  fill: $support-dos;
}

.icon-facebook {
  color: #3f589b;
}
.icon-vkontakte {
  color: #4c75a3;
}
.icon-twitter {
  color: #5ea9dd;
}

.pathology-subnav-icon {
  display: inline-block;

  vertical-align: middle;

  color: $sep-dark;
}

.pathology-subnav__link:hover .pathology-subnav-icon,
.pathology-subnav__link.is-active .pathology-subnav-icon {
  color: $primary;
}



// Favorites toggle

.icon-heart {
  fill: white;
  fill-opacity: 0;
  width: 20px;
  // transition: all .1s ease-in;
}

.recipe-card:hover .icon-heart {
  fill-opacity: 1;
}

.recipe-thumb__fav.is-active .icon-heart {
  fill-opacity: 1;
  fill: $support-dos;
}
