.icon {
  width: 24px;
  height: 24px;

  fill: currentColor;
}

.icon--white {
  fill: #ffffff;
}

.icon-pdf {
  color: $sep-dark;

  fill: $support-dos;
}

.icon-facebook {
  color: #3f589b;
  &:hover {
    color: #637bbb;
  }
}
.icon-vkontakte {
  color: #4c75a3;
  &:hover {
    color: #7297c1;
  }
}
.icon-twitter {
  color: #5ea9dd;
  &:hover {
    color: #8ec8f0;
  }
}

.pathology-subnav-icon {
  display: inline-block;

  vertical-align: middle;

  color: $sep-dark;
}

.pathology-subnav__link:hover .pathology-subnav-icon,
.pathology-subnav__link.is-active .pathology-subnav-icon {
  color: $primary;
}
