.icon {
  width: 24px;
  height: 24px;

  fill: currentColor;
}

.icon--white {
  fill: #ffffff;
}

.icon-pdf {
  color: $sep-dark;

  fill: $support-dos;
}

.icon-facebook {
  color: #3f589b;
}
.icon-vkontakte {
  color: #4c75a3;
}
.icon-twitter {
  color: #5ea9dd;
}

.pathology-subnav-icon {
  display: inline-block;

  vertical-align: middle;

  color: $sep-dark;
}

.pathology-subnav__link:hover .pathology-subnav-icon,
.pathology-subnav__link.is-active .pathology-subnav-icon {
  color: $primary;
}



// Favorites toggle

.icon-heart {
  width: 20px;

  transition: all .1s ease-in;

  fill: white;
  fill-opacity: .5;
}

.recipe-card:hover .icon-heart {
  fill-opacity: 1;
}

.recipe-thumb__fav.is-active .icon-heart {
  fill: $support-dos;
  fill-opacity: 1;
}

.icon-heart--onwhite {
  width: 18px;

  fill-opacity: 0;
  stroke: $support-dos;
  stroke-width: 2px;
}

.addtofavs.is-active .icon-heart--onwhite {
  fill: $support-dos;
  fill-opacity: 1;
}
