.imt-calc {
  max-width: 300px;
  margin-top: 64px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}

@media screen and (min-width: 920px) {
  .imt-calc {
    display: flex;

    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;

    background-image: url('../img/calc-bg-d.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    // border: 4px solid $sep-light;
  }
  .imt-form {
    padding: 16px 24px 24px;

    border-right: 1px solid $sep-light;
    background: rgba(white, .97);
  }
  .calc-result {
    display: block;
  }

  .calc-info {
    padding: 16px 24px 24px;

    background: rgba(white, .97);
  }
}


// calc top
.imt-calc__heading {
  text-align: center;
}

.under-calc {
  font-size: 12px;
  line-height: 1.3333;

  margin-bottom: 24px;

  text-align: center;
}



// calc inputs

.imt-calc__inputs {
  display: flex;
}


.imt-calc__height {
  margin-right: 8px;
}

.imt-calc__weight {
  margin-left: 8px;
}

.form-submit.js-calc-btn,
.form-submit.js-calc-btn:focus {
  outline: 0;
}






// calc result
.calc-result {
  font-size: 13px;
  line-height: 1.333;

  margin-top: 24px;
  padding: 32px;

  text-align: center;

  border: 2px solid $sep-light;
  border-radius: 4px;
  background-color: $bg-cold-faded;
}

@media screen and (min-width: 920px) {
  .calc-result {
    padding: 0;

    border: none;
    background-color: transparent;
  }
}




.calc-result-header {
  margin: 0;
  padding: 0;
}

.big-digits {
  font-family: $sans-serif-2;
  font-size: 36px;line-height: 30px;

  margin: 24px;
  // color: transparent;

  color: $support-uno;
}


// .big-digits.is-visible {
//   color: $support-uno;
// }

.calc-range {
  margin: 0;
  padding: 0;
}

.calc-range__value {
  display: block;
}

.calc-range-link {
  font-size: 12px;
}



// calc warning
.calc-warning {
  font-size: 11px;
  line-height: 1.333;

  margin-top: 32px;
}

.calc-warning-header {
  font-size: 11px;
  line-height: 1.33;

  margin: 0;
  padding: 0;

  color: $text-black;
}
