.js-header-up {
  top: -$v-main;
}

.js-dropdown,
.js-search,
.js-mobile-nav,
.js-subnav-up,
.js-icon-close,
.js-icon-menu-close,
.js-icon-up {
  display: none;
}

// pathologies

.js-dropdown-btn.is-open {
  .js-icon-down {
    display: none;
  }
  .js-icon-up {
    display: block;
  }
}

.js-dropdown.is-open {
  display: block;
}

// search

.js-search-btn.is-open {
  display: flex;

  .js-icon-search {
    display: none;
  }
  .js-icon-close {
    display: block;
  }
}

.js-search.is-open {
  display: block;
}

// mobile nav

.js-mobile-nav-btn.is-open {
  display: flex;

  .js-icon-menu {
    display: none;
  }
  .js-icon-menu-close {
    display: block;
  }
}


.js-mobile-nav.is-open {
  display: block;
}


.js-mobile-subnav-btn.is-open {
  display: flex;

  .js-subnav-down {
    display: none;
  }
  .js-subnav-up {
    display: block;
  }
}
