.logo {
  transition: opacity .3s ease;
}

.logo--header {
  height: $v-smaller;
}


.logo__image {
  width: 78px;
  height: 17px;

  fill: white;
}

.logo:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-bottom: 6px;
  }

  .logo--header {
    height: $v-main;
    margin-right: 48px;
  }
}
