// Mobile menu toggle

.mobile-nav__btn {
  display: flex;

  width: $v-main;
  height: $v-main;

  cursor: pointer;
  transition: all .3s ease;

  color: white;

  align-items: center;
  justify-content: center;
}

.mobile-nav__btn:hover {
  background-color: $tint;
}

.mobile-nav__btn.is-open {
  background-color: $primary-bright;
}


// Mobile menu

.mobile-nav {
  font-size: 15px;

  position: absolute;
  z-index: 200500;
  top: $v-main;

  width: 100%;

  border-bottom: 4px solid $support-uno;
}

.mobile-nav__list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.mobile-nav__item {
  position: relative;

  width: 100%;
}

.mobile-nav__link,
.mobile-nav__sublink {
  display: block;

  padding: 15px;

  text-decoration: none;

  color: $text-black;
  // border-bottom: 1px solid #e1f2f5;
  // background: #f5fcfe;
  border-bottom: 1px solid $sep-light;
  background: white;
}

.mobile-nav__link:hover {
  color: $primary-link;
  background: $bg-cold-faded;
}

.mobile-nav__item:hover .mobile-subnav {
  display: none;
}

.mobile-subnav {
  position: static;

  display: none;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.mobile-nav__sublink {
  display: block;

  padding: 15px;
  // border-bottom: 1px solid #d2e9ed;
  // border-left: 16px solid #f5fcfe;
  // background: #e3f5fb;

  border-bottom: 1px solid $sep-light;
  border-left: 4px solid $primary;
  background: $bg-cold;
}

.mobile-nav__sublink:hover {
  color: $primary-link;
  background: white;
  background: $sep-light;
}

.mobile-subnav-btn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;

  width: 50px;
  height: 49px;

  cursor: pointer;

  color: $primary;
  border-left: 1px solid #e1f2f5;

  align-items: center;
  justify-content: center;
}

.mobile-subnav-btn:hover {
  color: white;
  background-color: $primary;
}
