.pathologies-nav {
  display: none;
}


@media screen and (min-width: 768px) {
  // Pathologies drop down menu

  .pathologies-nav {
    position: relative;

    display: inline-block;

    vertical-align: middle;
  }

  // Button

  .pathologies-nav__btn {
    font-size: 15px;
    line-height: 40px;

    display: flex;

    height: 40px;
    margin-bottom: 3px;
    padding-right: 8px;
    padding-left: 16px;

    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
    text-decoration: none;

    border: 2px solid $primary-bright;
    border-radius: 2px;
    background: transparent;

    align-items: center;
  }

  .pathologies-nav__btn:hover {
    background-color: $tint;
  }

  .pathologies-nav__btn.is-open {
    background-color: $primary-bright;
  }

  .pathologies-nav__text {
    margin-right: 4px;
    margin-bottom: 2px;
  }

  // Dropdown

  .pathologies-nav__list {
    font-size: 14px;

    position: absolute;
    z-index: 500;
    top: 46px;

    display: none;

    width: 280px;
    margin: 0;
    padding: 0;

    list-style: none;

    opacity: .97;
    color: $text-black;
    border-bottom: 4px solid $support-uno;
    border-radius: 2px;
    background-color: white;
    box-shadow: $shadow-big;
  }

  .pathologies-nav__item {
    border-bottom: 1px solid $sep-light;
  }

  .pathologies-nav__item:last-child {
    border-bottom: none;
  }

  .pathologies-nav__link {
    line-height: 1.4em;

    margin: 0;
    padding-top: 1em;
    padding-right: 24px;
    padding-bottom: 1em;
    padding-left: 24px;

    transition: all .1s ease;
  }

  .pathologies-nav__link:hover {
    padding-left: 28px;

    color: $primary-link;
    background-color: $bg-cold-faded;
  }
}
