.recipes-filter {
  font-size: 15px;
  line-height: 2em;

  display: flex;

  margin: 0 0 16px;
  padding: 12px 0;

  list-style: none;

  border-top: 3px solid $sep-dark;
  border-bottom: 1px solid $sep-light;

  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;;
}

.recipes-filter__item {
  margin-right: 16px;
}

.recipes-filter__item--chosen {
  font-weight: $bold;
}
