// Right sidebar area

// Mobile
.related-content {
  margin-top: $v-main;
  margin-bottom: -$v-main;
}

// 680+
@media screen and (min-width: 680px) {
  .related-content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: $h-padding-small;

    flex: 0 0 $h-side-small;
  }
}

// 820+
@media screen and (min-width: 820px) {
  .related-content {
    flex: 0 0 $h-side-medium;
  }
}


// 960+
@media screen and (min-width: 960px) {
  .related-content {
    flex: 0 0 $h-side-big;
  }
}

// 960+
@media screen and (min-width: 960px) {
  .related-content--illustration {
    flex: 0 0 380px;
  }
}

// Inner styles

.related-header {
  font-size: 14px;
  line-height: 20px;

  margin-top: 0;
  padding: 8px 0;

  letter-spacing: .3px;
  text-transform: uppercase;

  color: $text-black;
  border-top: 4px solid $primary;
  background: $bg-cold;
}

.related-list {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  list-style: none;
}

.related-list__item {
  border-bottom: 1px solid $sep-light;
}

.related-list__item:hover {
  background-color: $bg-cold-faded;
}

.related-list__item:last-child {
  border-bottom: none;
}

.related-list__link {
  display: flex;

  padding-top: 8px;
  padding-bottom: 8px;

  text-decoration: none;

  color: $text-black;

  align-content: flex-start;
}

.related-list__thumb {
  display: block;

  width: 88px;
  height: 66px;
  margin-right: 16px;

  flex-shrink: 0;
}

.related-list__title {
  font-size: 13px;
  font-weight: $normal;
  line-height: 1.6;

  margin: 0;
  padding: 0;

  flex-grow: 1;
}
