// Search toggle

.search__btn {
  display: flex;

  width: $v-smaller;
  height: $v-smaller;

  cursor: pointer;
  transition: all .3s ease;

  color: white;

  align-items: center;
  justify-content: center;
}

.search__btn:hover {
  background-color: $tint;
}

.search__btn.is-open {
  background-color: $primary-bright;
}

// Search dropdown

.search__wrapper {
  position: relative;
}

.search {
  position: absolute;
  z-index: 100;

  width: 100%;

  color: white;
  background-color: $text-black;
}

.search__form {
  display: flex;

  max-width: 600px;
  padding: 8px 16px;
}

.search__field {
  width: 100%;
  height: 40px;
  padding: 0 24px;

  border: 0;
  background-color: $bg-vivid-light;
}

.search__field::placeholder {
  font-family: $sans-serif;
  font-style: italic;

  transition: color .3s ease;

  color: $text-pale;
}

.search__field:focus::placeholder {
  color: white;
}


.search__field:focus,
.search__submit:focus {
  outline: none;
}

.search__field:focus {
  padding: 0 20px;

  border: 4px solid $sep-light;
  border-radius: 0;
}

.search__submit:focus {
  padding: 0 20px;

  border: 4px solid $primary-link-faded;
}


.search__submit {
  height: 40px;
  padding: 0 24px;

  cursor: pointer;

  color: $primary-bright;
  border: 0;
  border-radius: 0;
  background-color: $primary-link;
  &:hover {
    color: white;
    background-color: $primary-link-faded;
  }
}


@media screen and (min-width: 768px) {
  .search__btn {
    width: $v-main;
    height: $v-main;
  }
}
