.section-banner {
  display: none;
}

@media screen and (min-width: 540px) {
  .section-banner {
    position: relative;

    display: block;

    height: 192px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
  }

  .section-banner--recipes {
    background-image: url('../img/section-banners/sb-recipes-680x256.jpg');
  }

  .section-banner--articles {
    background-image: url('../img/section-banners/sb-articles-680x256.jpg');
  }

  .section-banner__gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(-180deg, rgba(0,0,0,.34) 75%, rgba(50,59,60,.70) 100%);
  }

  .section-banner__inner {
    display: flex;
    flex-direction: column;

    height: 100%;

    justify-content: flex-end;
  }
}


@media screen and (min-width: 768px) {
  .section-banner {
    height: 240px;
  }
}

@media screen and (min-width: 680px) {
  .section-banner--recipes {
    background-image: url('../img/section-banners/sb-recipes-820x256.jpg');
  }

  .section-banner--articles {
    background-image: url('../img/section-banners/sb-articles-820x256.jpg');
  }
}

@media screen and (min-width: 768px) {
  .section-banner--recipes {
    background-image: url('../img/section-banners/sb-recipes-1200x320.jpg');
  }

  .section-banner--articles {
    background-image: url('../img/section-banners/sb-articles-1200x320.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .section-banner--recipes {
    background-image: url('../img/section-banners/sb-recipes-1440x320.jpg');
  }

  .section-banner--articles {
    background-image: url('../img/section-banners/sb-articles-1440x320.jpg');
  }
}

@media screen and (min-width: 1440px) {
  .section-banner--recipes {
    background-image: url('../img/section-banners/sb-recipes-1920x320.jpg');
  }

  .section-banner--articles {
    background-image: url('../img/section-banners/sb-articles-1920x320.jpg');
  }
}

@media screen and (min-width: 1920px) {
  .section-banner--recipes {
    background-image: url('../img/section-banners/sb-recipes-2560x320.jpg');
  }

  .section-banner--articles {
    background-image: url('../img/section-banners/sb-articles-2560x320.jpg');
  }
}
